{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}<div id="content-main">
<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}

<div>
{#<p>{% blocktrans with username=original %}Change LDAP password for the user in {{ ldap_server }}.{% endblocktrans %}</p>#}
<table>
{{  form }}
<tfoot>
    <tr>
      <td></td><td><label><b>Enter the characters you see</b></label></td>
    </tr>
  </tfoot>
</table>
<div class="submit-row">
<input type="submit" value="{% trans 'Change password' %}" class="default">
</div>

</div>
</form></div>
<script>
window.onload = function() {
    document.getElementById("id_domain").onchange = function() {
        if (document.getElementById("id_domain").value === "ptt") {
            document.getElementById("id_new_password1").nextElementSibling.nextElementSibling.innerHTML = 
            `<ol>
                <li>Not contain the user's account name or parts of the user's full name that exceed two consecutive characters.</li>
                <li>Be at least 10 characters in length.</li>
                <li>Password must different from last 24 passwords.</li>
                <li>Contain characters from following 4 categories:
                    <ul>
                        <li>English uppercase characters (A through Z)</li>
                        <li>English lowercase characters (a through z)</li>
                        <li>Base 10 digits (0 through 9)</li>
                        <li>Non-alphabetic characters (for example, !, $, #, %)</li>
                    </ul>
                </li>
                <li>Password must be changed every 90 days</li>
            </ol>
            <ol>
                <li>รหัสผ่านต้องไม่ประกอบด้วย รหัสพนักงาน , ชื่อหรือนามสกุลเรียงติดกันเกิน 2 อักขระ</li>
                <li>รหัสผ่านต้องมีความยาวอย่างน้อย 10 ตัวอักษร</li>
                <li>ระบบจะไม่ยอมรับรหัสผ่านของผู้ใช้งานที่เคยใช้แล้วย้อนหลัง 24 ครั้ง ล่าสุด</li>
                <li>รหัสผ่านต้องประกอบรวมด้วยอักขระลักษณะต่าง ๆ 4 ข้อ ดังนี้
                    <ul>
                        <li>ตัวอักษรภาษาอังกฤษตัวใหญ่ (A - Z)</li>
                        <li>ตัวอักษรภาษาอังกฤษตัวเล็ก (a - z)</li>
                        <li>ตัวเลข 1 , 2 , 3 , …9 , 0</li>
                        <li>อักษรพิเศษ เช่น @ , # , $ , % , ^ , & , * , (, ) , _ ,+ , ! , \ , : , ’ , “ , ; , = , } , ] , { , [ , > , <</li>
                    </ul>
                </li>
                <li>ผู้ใช้งานต้องทำการเปลี่ยนรหัสผ่านทุก ๆ 90 วัน</li>
            </ol>
            <b>If you change password on PTT DIGITAL domain, The new password will be updated to your PTTGRP(Email Account), PTT and PTTEP domain account too.</b>`
        } else if (document.getElementById("id_domain").value === "pttdigital") {
            document.getElementById("id_new_password1").nextElementSibling.nextElementSibling.innerHTML = 
            `<ol>
                <li>Not contain the user's account name or parts of the user's full name that exceed two consecutive characters.</li>
                <li>Be at least 14 characters in length.</li>
                <li>Password must different from last 24 passwords</li>
                <li>Contain characters from following 4 categories::
                    <ul>
                        <li>English uppercase characters (A through Z)</li>
                        <li>English lowercase characters (a through z)</li>
                        <li>Base 10 digits (0 through 9)</li>
                        <li>Non-alphabetic characters (for example, !, $, #, %)</li>
                    </ul>
                </li>
                <li>User cannot change the password more than 1 time in a day.</li>
                <li>Password will be expired in 90 days</li>
                </ol>
                <br/>
                <b>
                If you change password on PTT DIGITAL domain, The new password will be updated to your PTTGRP(Email Account), PTT and PTTEP domain account too.
            </b>`
        } else {
            document.getElementById("id_new_password1").nextElementSibling.nextElementSibling.innerHTML = 
            `<ol>
                <li>Not contain the user's account name or parts of the user's full name that exceed two consecutive characters.</li>
                <li>Be at least 8 characters in length.</li>
                <li>Password must different from last 3 passwords (PTT,PTTOR,PTTDIGITAL,PTTGRP) or last 12 passwords(GPSC users).</li>
                <li>Contain characters from 3 of the following 4 categories:
                    <ul>
                        <li>English uppercase characters (A through Z)</li>
                        <li>English lowercase characters (a through z)</li>
                        <li>Base 10 digits (0 through 9)</li>
                        <li>Non-alphabetic characters (for example, !, $, #, %)</li>
                    </ul>
                </li>
                <li>User cannot change the password more than 1 time in a day.</li>
            </ol>
            <br/>
            <b>If you change password on PTT DIGITAL domain, The new password will be updated to your PTTGRP(Email Account), PTT and PTTEP domain account too.</b>`
        }
    };
};
</script>
{% endblock %}
